.BusinessBrand {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.BusinessLogo {
    position: absolute;
    height: 150px;
    width: auto;
    top: 30px;
}
.Link {
    text-decoration: none;
}